@using RojikanPU.Component
 
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - LAPOR BRANTAS</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap.min.css" rel="stylesheet" />
    <link rel="icon" href="~/Content/Images/icon.png"  type="image/png" />
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Roboto">
    <style>
         /* Always set the map height explicitly to define the size of the div
        * element that contains the map. */
         #map {
             height: 100%;
         }
    </style>

    @*<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAJXxpVIlOlgIwGvHVVdhRSTinAgYxxpVs" type="text/javascript"></script>*@
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="row">
                <div class="col-md-12">

                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        @if (User.Identity.IsAuthenticated)
                        {
                            <a href="/Home/">
                                <img src="~/Content/Images/logo.png" class="logo-width" />
                            </a>
                        }
                        else
                        {
                            <a href="/">
                                <img src="~/Content/Images/logo.png" class="logo-width" />
                            </a>
                        }

                    </div>
                    <div class="navbar-collapse collapse">                        
                        @Html.Partial("_LoginPartial")
                        <ul class="nav navbar-nav navbar-right">
                            @if (User.Identity.IsAuthenticated)
                            {
                                <li>@Html.ActionLink("ARTIKEL", "Index", "Article")</li>
                                <li>@Html.ActionLink("PPK", "Index", "PPK")</li>
                                <li>@Html.ActionLink("USER", "Index", "User")</li>
                            }
                            else
                            {
                                <li>@Html.ActionLink("INFO PUBLIK", "Articles", "Public", new { id = "INFO PUBLIK" }, null)</li>
                                <li>@Html.ActionLink("SISDA", "Articles", "Public", new { id = "SISDA" }, null)</li>
                                <li>@Html.ActionLink("REKOMTEK", "Articles", "Public", new { id = "REKOMTEK" }, null)</li>
                                <li>@Html.ActionLink("POSKO", "Articles", "Public", new { id = "POSKO" }, null)</li>
                            }
                        </ul>
                    </div>
                </div>

            </div>

        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/thirdparty")
    @RenderSection("scripts", required: false)

    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap.min.js"></script>
    <script src="http://www.chartjs.org/samples/latest/utils.js"></script>
    <script src="~/Scripts/ckeditor/ckeditor.js"></script>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - LAPOR BRANTAS</p>
        </footer>
    </div>

</body>
</html>